@supports (-webkit-text-stroke: 3px whitesmoke) {
    .strokedTitle {
        background-repeat: no-repeat;
        font-family: "Noto Sans", Avenir, Helvetica, Arial, sans-serif;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 3px whitesmoke;
        -webkit-transition: background-size 0.5s cubic-bezier(0.67,0.01,0.15,0.98);
        transition: background-size 0.5s cubic-bezier(0.67,0.01,0.15,0.98);
    }

    .box {
        background-image: linear-gradient(135deg, white 0%, white 50%, transparent 50.1%);
        background-size: 0 100%;
        -webkit-background-size: 0 100%;
    }

    .btnWrapper:hover .box {
        background-size: 220% 100%;
        -webkit-background-size: 220% 100%;
    }
}
