@tailwind base;
@tailwind components;
@tailwind utilities;

// NextUI color vars are in hsl!

:root {
    font-family: "Mulish", Avenir, Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

    line-height: 1.5;

    color-scheme: light dark;
    color: hsl(var(--nextui-foreground));
    background-color: hsl(var(--nextui-background));
    //background-color: #242424;
    //background-color: #050a1f;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

div.app {
    align-content: center;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
}

header, footer {
    flex-grow: 1;
    padding: 1rem 2rem;
}

main {
    flex-grow: 2;
    max-width: 1024px;
    padding: 1rem 2rem;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2rem;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 1.5;
}

h2 {
    font-size: 2.3rem;
    letter-spacing: 1.5px;
}

h3 {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.2;
}

p, ol, ul {
    font-size: 1.2rem;
}

ul {
    list-style: disc;
    margin: revert;
    padding: revert;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }
}
