@tailwind base;
@tailwind components;
@tailwind utilities;

// NextUI color vars are in hsl!

:root {
    //background-color: hsl(var(--nextui-background));
    //background-image: linear-gradient(to right top, #050b26, #050b26, #050b26, #050b26, #050b26, #050c27, #060c29, #060d2a, #070e2d, #071030, #081133, #091236);
    background-image: linear-gradient(to right bottom, #040b2a, #040f37, #0a1044, #180d50, #28055a);
    background-attachment: fixed;
    background-repeat: no-repeat;

    color: hsl(var(--nextui-foreground));
    //color-scheme: light dark;
    font-family: "Mulish", Avenir, Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-style: normal;
    font-synthesis: none;
    font-weight: 400;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

div.app {
    align-content: center;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    margin: 0 auto;
    max-width: 1024px;
}

header, footer {
    flex-grow: 1;
    padding: 1rem 2rem;
}

main {
    flex-grow: 2;
    padding: 1rem 2rem;
}

a {
    border-bottom: 1px solid transparent;
    color: hsl(var(--nextui-primary));
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    border-bottom-color: theme('colors.blue.300');
    color: theme('colors.blue.300');
}

h1 {
    font-size: 3.2rem;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 1.5;
}

h2 {
    font-size: 2.3rem;
    letter-spacing: 1.5px;
}

h3 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2;
}

// TODO: edit font sizes for mobile

h1, h2, h3 {
    margin-bottom: 1rem;
}

p, ol, ul {
    font-size: 1rem;
}

ul {
    list-style: disc;
    margin: revert;
    padding: revert;
}

.color-primary {
    color: hsl(var(--nextui-primary));
}

/*
@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #efefef;
    }

    a:hover {
        color: #747bff;
    }
}
*/
